.note{
    background-color: yellow;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.note_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes_list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
}

.new_note{
    background-color: skyblue;
}

textarea{
    border: none;
    resize: none;
    background-color: skyblue;
}

textarea:focus{
    outline: none;
}

.save{
    background-color: gray;
    border: none;
    border-radius: 15px;
    padding:  10px 15px;
}

.save:hover{
    background-color: #ededed;
    cursor: pointer;
}

.delete_icon{
    cursor: pointer;
}

.delete_icon:hover{
    color: red;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;
}

input{
    border: none;
    background-color: gray
}

input:focus{
    outline: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
