.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 100vh;
}


.dark_mode{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.dark_mode h1{
    color: white;
}

